<div id="parts-list" class="row">
	<%= search_form_for @q, url: search_car_parts_path(:id => params[:id]), method: :get, remote: true do |f| %>
	  <%= f.label :name_cont %>
	  <%= f.text_field :name_cont %>
	  <%= f.submit %>
	<% end %>
	<div id="search-results" class="">
		
	</div>
</div>
