.new_entry {
	.clearfix { margin-bottom: 18px; overflow: hidden; }
	#veh-year, #veh-brand, #veh-model, #veh-variant, #regions, #cities { clear: none; float: left; margin-right: 5px; }
	legend { padding-bottom: 10px; }
	p { margin-bottom: 2px; }
	.thumbnail { margin-top: 10px; }
	}
#vehicle-info { margin-bottom: 15px; overflow: hidden; }

.photouploads { 
	.clearfix, input { margin-bottom: 0; }
	label { display: none; }
	.add_nested_fields { clear: both; float: right; margin-bottom: 15px; }
	}

.photo-set { margin-bottom: 15px; overflow: auto;
	ul { margin-top: 10px }
	.thumbnail { border: 1px solid #ddd; float: left; height: 50px;  overflow: hidden; width: 75px; }
 	}
 
#cart { margin-top: 20px; }
#cart-search form, #cart-search fieldset { margin-bottom: 0; }
#parts-rules { 
	li { color: black; font-size: 14px; line-height: 20px; margin-bottom: 30px; }
	li p { margin-left: 20px; }
	.bad-p { margin-bottom: 5px; margin-top: 12px; }
	.good-p { margin-bottom: 20px;  }
	.bad-code { color: #919191; margin-left: 25px; }
	.good-code { margin-left: 13px; }
	.specs { font-size: 13px; margin-left: 10px; padding: 1px 15px; }
	}
#search-results { 
	li { background-color: #CCC; line-height: 25px; margin: 5px 0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
	li:hover { color: white; background-color: #0064CD; }
	.parts a { color: black; display: block; padding: 5px 8px;}
	.parts a:hover { color: white; font-size: 1.1em; text-decoration: none; }
 	}

.photo-set li { display: inline; }

td.bids input { margin-bottom: 4px; text-align: right; width: 100px }
.bids-array { clear: both; position: relative; min-height: 1em; margin-bottom: 5px; 
	p.label { font-size: 0.9em; font-weight: normal; /*margin-bottom:5px;*/ text-transform: none; }
	}
.cat { min-height: 18px; width: 110px; 
	input { margin-bottom: 0; text-align: right; width: 100px;}
	input[type="radio"] { margin: 0 8px 0 -15px; width: auto; }
	p { text-align: center; }
	}
.bid-amount { margin-right: 5px; text-align: right; width: 68px; }
.bids p.label { font-size: 0.9em; font-weight: normal; text-transform: none; }

//.bid-box { 
//	float: left; margin-right: 10px; text-align: right; width: 115px;
//	.label { margin-right: 5px; }
//	}

.original { float: left; }
.replacement { position: absolute; top: 0; left: 128px;  }
.surplus { float: right; }
.stats { clear: both; }

.seller { 
	.bids-array { position: relative; }
	}

#special-action-box { border: 2px solid white; /*margin: -8px 0 0 0; padding: 10px;*/ padding-left: 5px; }

	
