<div id="recent-messages" class="">
	<%= content_tag :p, 'Latest Messages' %>
	<%= content_tag :dl do %>
		<% @global_messages.each do |m| %>
			<%#= render 'messages/msg_line', m: m, k: nil %>
		<% end %>
	<% end %>
</div>
